{% extends "base.html" %}
{% block title %}Find Unique Routes 2{% endblock %}
{% block h1 %}Find Routes with completely unique checkpoint/positions{% endblock %}
{% block content %}

{% if error %}
	<div class="error">{{error}}</div>
{% endif %}

{% if not race %}
	<p>Problem getting race for race_id: {{race_id}}</p>
{% else %}
	<h1>Race: {{race.name}}</h1>
	<h2>From {{race.checkpoint_start.name}} to {{race.checkpoint_finish.name}}</h2>

	<h3>Repeat checkpoints allowed: {{repeat_qty}}</h3>
	
	{% for routeset in master_results %}
	    <h3>Routeset</h3>
    
    	{% for r in routeset %}
    		{{ r }}<br/>
    	{% endfor %}

	{% endfor %}
	

{% endif %}
	
{% endblock %}
