{% extends "base.html" %}
{% block title %}Find Unique Routes{% endblock %}
{% block h1 %}Find Routes with completely unique checkpoint/positions{% endblock %}
{% block content %}

{% if error %}
	<div class="error">{{error}}</div>
{% endif %}

{% if not race %}
	<p>Problem getting race for race_id: {{race_id}}</p>
{% else %}
	<h2>Race: {{race.name}}</h2>
	Repeat checkpoints for this query: {{repeat_qty}}

	<h3>Uniques</h3>

  <table class="races">
    <tr>
      <th colspan="2">Length</th>
      <th>Teams</th>
      <th>Comfortable</th>
      <th>Legal</th>
      <th>Path</th>
    </tr>
	  {% for r in used_routes %}
      <tr>
        <td>{{r.length}}</td>
        <td>{{race.measurement_system}}</td>
        <td>{{r.teams_comfortable}}</td>
        <td class="center">{{r.capacity_comfortable}}</td>
        <td class="center">{{r.capacity_max}}</td>
        <td>{{r.getPath}}</td>
      </tr>
    {% endfor %}
  </table>
	
	<h3>Others</h3>
  <table class="races">
    <tr>
      <th colspan="2">Length</th>
      <th>Teams</th>
      <th>Comfortable</th>
      <th>Legal</th>
      <th>Path</th>
    </tr>
	  {% for r in deferred_routes %}
      <tr>
        <td>{{r.length}}</td>
        <td>{{race.measurement_system}}</td>
        <td>{{r.teams_comfortable}}</td>
        <td class="center">{{r.capacity_comfortable}}</td>
        <td class="center">{{r.capacity_max}}</td>
        <td>{{r.getPath}}</td>
      </tr>
    {% endfor %}
  </table>


{% endif %}
	
{% endblock %}
