{% if race_list %}
	<ul>
		{% for race in race_list %}
			<li>
				<b><a href="/races/{{ race.id }}/">{{ race.name }}</a></b>
				<ul>
					<li><a href="/races/build/{{ race.id }}/">Build Routes</a></li>
					<li><a href="/races/add-route-capacities/{{ race.id }}/">Calculate Route Capacities</a></li>
					<li><a href="/races/find-unique-routes/{{ race.id }}/">Find Unique Routes</a></li>
					<li><a href="/races/delete-routes-in-race/{{ race.id }}/">Delete All Routes</a></li>
				</ul>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No races are available</p>
{% endif %}

