{% extends "base.html" %}
{% block title %}Race Detail: {{race.name}}{% endblock %}
{% block h1 %}{{race.name}}{% endblock %}
{% block content %}

{% if error %}
	<div class="error">{{error}}</div>
{% endif %}

{% if not race %}
	<p>Problem getting race for race_id: {{race_id}}</p>
{% else %}
	<h2>From {{race.checkpoint_start.name}} to {{race.checkpoint_finish.name}}</h2>

	<table>
		<!--<tr><td>id / pk</td><td>{{race.id}} / {{race.pk}}</td></tr>-->
		<tr><td>Date</td><td>{{race.date}}</td></tr>
		<tr><td>URL</td><td>{{race.url}}</td></tr>
		<tr><td>Number of Teams</td><td>{{race.num_teams}}</td></tr>
		<tr><td>People per Team</td><td>{{race.num_people_per_team}}</td></tr>
		<tr><td>Min Race Distance</td><td>{{race.min_race_distance}} {{race.measurement_system}}</td></tr>
		<tr><td>Max Race Distance</td><td>{{race.max_race_distance}} {{race.measurement_system}}</td></tr>
		<tr><td>Leg Min</td><td>{{race.min_leg_distance}} {{race.measurement_system}}</td></tr>
		<tr><td>Leg Max</td><td>{{race.max_leg_distance}} {{race.measurement_system}}</td></tr>
		<tr><td>Legs</td><td>{{race.checkpoint_qty}}</tr>
	</table>
	
	<h3>Routes</h3>
  <table class="races">
    <tr>
      <th colspan="2">Length</th>
      <th>Teams</th>
      <th>Comfortable</th>
      <th>Legal</th>
      <th>Path</th>
    </tr>
    {% for r in race.getroutes %}
      <tr>
        <td>{{r.length}}</td>
        <td>{{race.measurement_system}}</td>
        <td>{{r.teams_comfortable}}</td>
        <td class="center">{{r.capacity_comfortable}}</td>
        <td class="center">{{r.capacity_max}}</td>
        <td>{{r.getPath}}</td>
      </tr>
    {% endfor %}
  </table>
	
{% endif %}
	
{% endblock %}
