<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
    <html lang="en">
    <head>
        <link rel="stylesheet" href="default.css" type="text/css">
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
		<style>
			body {
				background: #eee;
        font-family: "Consolas", "Calibri", Sans, "Courier New";
        font-size: 8px;
			}
      table.races tr th {
        border-bottom: 1px black solid;
      }
      table.races tr td {
        text-align: left;
        padding: 5px;
      }
      .center {
        text-align: center;
      }
		</style>
    </head>
    <body>
        <h1 id="top">{% block h1 %}{% endblock %}</h1>
        <p><a href="/races/">Back to home</a></p>
        {% block content %}{% endblock %}
        <hr>
        <p><a href="/races/">Back to home</a></p>
    </body>
 </html>
